language: c
sudo: false
after_success: bash <(curl -s https://codecov.io/bash)
os:
  - linux
  - osx
compiler:
  - clang
  - gcc
script: make  test
matrix:
  include:
    - os: linux
      compiler: clang
      script: make test98
      sudo: required
      services:
        - docker
